
@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar Vehiculo</h1>


<div id="login-div">
    <ul class="pagination justify-content-center" style="margin:20px 0">
        <div class="container">
            @using (Html.BeginForm("addVehiculo", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="Usuario">Capacidad:</label>
                    <input type="number" class="form-control" name=capacidad id="capacidad" placeholder="ingresar la capacidad">
                </div>
                <div class="form-group">
                    <label for="Nombre">Consumo:</label>
                    <input type="number" class="form-control" name=consumo id="consumo" placeholder="ingresar el consumo">
                </div>
                <div class="form-group">
                    <label for="Telefono">Depreciacion:</label>
                    <input type="number" class="form-control" name=depreciacion id="depreciacion" placeholder="ingresar la depreciacion">
                </div>
                <input id="btn" name="btn" type="submit" value="Agregar" class="btn btn-primary" />
            }
        </div>
    </ul>
</div>